*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    margin: 10px 0;
    padding: auto;
    text-align: center;
}

h5{
    margin-bottom: 10px;
    text-align: center;
}

.picture{
    width: 300px;
    height: 300px;
    margin-left: 800px;
    border-radius: 50%;
}

.Skill{
    margin: 10px;
    list-style: none;
    text-align: center;
}